<footer class="footer">

    <div class="container">

        <div class="row">

            <div class="col-md-6">

                <p>Developed and created by <a href="http://www.dragonbe.com" title="Michelangelo van Dam">Michelangelo van Dam</a>.</p>
                <p>Created with <span class="glyphicon glyphicon-heart red"></span> in Belgium.</p>

            </div><!-- /.col-md-6 -->

            <div class="col-md-3">

                <h4 class="h4">Disclaimer</h4>
                <p>This application is for demonstration purposes only. It's not part of <a href="https://www.microsoft.com" rel="nofollow">Microsoft</a>
                or <a href="https://azure.microsoft.com" rel="nofollow">Microsoft Azure</a>.</p>

            </div><!-- /.col-md-3 -->

            <div class="col-md-3">

                <h4 class="h4">Get social</h4>
                <ul>
                    <li><a href="https://www.github.com/DragonBe" rel="nofollow">GitHub</a></li>
                    <li><a href="https://www.twitter.com/DragonBe" rel="nofollow">Twitter</a></li>
                    <li><a href="https://www.facebook.com/DragonBe" rel="nofollow">Facebook</a></li>
                    <li><a href="https://www.instagram.com/DragonBe" rel="nofollow">Instagram</a></li>
                    <li><a href="https://www.linkedin.com/in/michelangelovandam" rel="nofollow">LinkedIn</a></li>
                </ul>

            </div><!-- /.col-md-3 -->

        </div>

    </div>

</footer>
